.font-11-px{font-size:11px;}
.font-12-px{font-size: 12px;}
.font-13-px{font-size:13px;}
.font-14-px{font-size:14px;}
.font-15-px{font-size:15px;}
.padding-2-px{padding:2px;}
.padding-5-px{padding:5px;}
.padding-10-px{padding:10px;}
.padding-left-right-5-px{padding-left:5px;padding-right:5px;}
.padding-top-bottom-2-px{padding-top:2px;padding-bottom:2px;}
.padding-top-bottom-5-px{padding-top:5px;padding-bottom:5px;}
.padding-top-bottom-10-px{padding-top:10px;padding-bottom:10px;}
.border{border:1px solid black;}
.cyan-background-color{background-color: #17a2b8;}
.teal-background-color{background-color: #20c997;}
.min-height-30-px{
  min-height: 30px;
  height: auto !important;
  height: 30px;
}
.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    resize: none !important;
}
.remove-focus:focus{
  border:none !important;
  outline:none !important;
}
.dropdown>div>a:hover,.dropdown>div>a:active,.dropdown>div>a:focus,.dropdown>div>a:visited{
  background-color:#fd7e14;
}
.outline-image{outline:1px solid transparent;border:1px solid transparent;}
.outline-image:hover{
  outline:1px solid #fd7e14;
  border:1px solid #fd7e14;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  font-size: 0;
  line-height: 0;
}
