<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden overflow-y-auto">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" Content="IE=edge">
		<meta name="viewport" Content="width=device-width, initial-scale=1">

		<title>Open Jobs - Schedule for Run</title>

    <base href="http://localhost/stock-charts/" />

		<link href="./css/normalize.css" rel="stylesheet" type="text/css" />
		<link href="./css/style.css" rel="stylesheet" type="text/css" />
		<link href="./css/svg.css" rel="stylesheet" type="text/css" />

		<script src="./js/lib/vue.js"></script>

	</head>
	<body class="overflow-x-hidden overflow-y-auto">
		<div class="block text-center">
			<div class="block auto-height overflow-x-auto no-white-space">
				<div id="svg-charts">
				        <div class="block">
						<svg-charts-1></svg-charts-1>
					</div>
					<div class="block">
						<svg-charts-2></svg-charts-2>
					</div>
					<div class="block">
						<svg-charts-3></svg-charts-3>
					</div>
					<div class="block">
						<svg-charts-4></svg-charts-4>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/components/svg-charts.js"></script>
  </body>
</html>
